body {
  width: 100%;
  height: 100%;
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
  margin: 0 0 25px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    line-height: 1.6;
  }
}
a {
  color: #e82c0c;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #871a07;
}
.light {
  font-weight: 400;
}
.text-bold,
.text-bold > * {
  font-weight: 700;
}
.navbar-toggle {
  padding: 4px 6px;
  color: #e82c0c;
  border-color: #e82c0c;
}
.navbar-toggle:focus,
.navbar-toggle:active {
  outline: none;
}
.navbar-custom {
  margin-bottom: 0;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
  border-bottom: 1px solid #e82c0c;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:hover {
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: #fef6f5;
}
.navbar-custom .nav li select {
  color: #e82c0c;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    background: rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom a {
    color: white;
  }
  .navbar-custom a:hover {
    color: #f77963;
  }
  .navbar-custom .nav li select {
    margin: 8px;
    background-color: transparent;
    color: #f77963;
    border: 0;
  }
  .navbar-custom .nav li select option {
    color: #f77963;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: white;
    border-bottom: 1px solid #e82c0c;
  }
  .navbar-custom.top-nav-collapse a {
    color: #e82c0c;
  }
  .navbar-custom.top-nav-collapse a:hover {
    color: #871a07;
  }
  .navbar-custom.top-nav-collapse .nav li select {
    color: #e82c0c;
    border: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .navbar-custom.top-nav-collapse .nav li select option {
    color: #e82c0c;
  }
}
.search-btn button,
.action-btn {
  color: white;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 1px;
  border: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e82c0c+0,871a07+75,e82c0c+100 */
  background: #e82c0c;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4MmMwYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzg3MWEwNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlODJjMGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #e82c0c 0%, #871a07 75%, #e82c0c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e82c0c), color-stop(75%, #871a07), color-stop(100%, #e82c0c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e82c0c 0%, #871a07 75%, #e82c0c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e82c0c 0%, #871a07 75%, #e82c0c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e82c0c 0%, #871a07 75%, #e82c0c 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e82c0c 0%, #871a07 75%, #e82c0c 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e82c0c', endColorstr='#e82c0c', GradientType=0);
  /* IE6-8 */
}
.search-btn button:active:focus,
.action-btn:active:focus,
.search-btn button:focus,
.action-btn:focus,
.search-btn button:active,
.action-btn:active {
  color: white;
  background: #871a07;
}
.search-btn button:hover,
.action-btn:hover {
  color: white;
}
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  background: black no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro h1 {
  color: white;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .brand-heading {
  font-size: 40px;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}
.intro .nopadding-left {
  padding-left: 0;
  margin-left: 0;
}
.intro .nopadding-right {
  padding-right: 0;
  margin-right: 0;
}
.intro .ui-autocomplete-loading {
  background: white url("../img/ajax-loader.gif") 98% center no-repeat;
}
@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro h1 {
    margin-top: -10%;
  }
  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
  }
}
@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0 {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.content-section {
  padding-top: 50px;
}
@media (min-width: 767px) {
  .download-section {
    padding: 100px 0;
  }
  #map {
    height: 400px;
    margin-top: 250px;
  }
}
ul.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}
#mobile {
  padding: 50px 0 0;
  text-align: center;
  background-color: #f6a71c;
  transform: skewY(2deg);
}
#mobile p {
  margin: 0;
}
#mobile h3 {
  margin: 10px 0;
}
#mobile .mobile-buttons .mobile-button.mobile-button-appstore {
  background-image: url(../img/appstore.png);
}
#mobile .mobile-buttons .mobile-button {
  display: inline-block;
  width: 132px;
  height: 44px;
  background: 0 0 no-repeat;
}
#mobile .mobile-buttons .mobile-button.mobile-button-googleplay {
  background-image: url(../img/googleplay.png);
  width: 137px;
}
#mobile .mobile-buttons {
  margin-top: 20px;
}
#mobile img.footer-mobile-image {
  width: 100%;
}
body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}
.search .options {
  margin-bottom: 0;
}
.search .options .btn-home {
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 0;
}
.search .options .btn-home.active {
  color: #fff;
  background-color: #e82c0c;
}
.search .options .btn-home.notActive {
  background-color: #fff;
  opacity: 0.7;
}
.search .options .btn-home.notActive:hover {
  color: #871a07;
}
#offers a.cuisine {
  display: block;
  position: relative;
  margin-bottom: 30px;
}
#offers a.cuisine span {
  box-shadow: 0 3px 0 0 rgba(50, 50, 50, 0.35);
  position: absolute;
  bottom: -20px;
  left: -55px;
  z-index: 2;
  text-align: center;
  min-width: 110px;
  height: 40px;
  display: inline-block;
  background: #fff;
  line-height: 40px;
  text-transform: uppercase;
  margin-left: 50%;
}
#offers a.cuisine img {
  width: 100%;
}
#offers .btn-homedark {
  margin: 20px 0 45px;
}
.btn-homedark {
  color: #fff;
  background-color: #e82c0c;
}
.btn-homedark:focus,
.btn-homedark:active,
.btn-homedark:hover {
  color: #fff;
  background-color: #871a07;
}
#about {
  background-color: #f6644b;
  color: white;
  padding-bottom: 50px;
}
#about h3 {
  margin-bottom: 50px;
}
#about .section-instructions-item {
  height: 300px;
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
}
#about .special-instructions-wrap .skew-left {
  background: #e82c0c;
}
#about .special-instructions-wrap .skew-right {
  background: #b82309;
}
#about .special-instructions-wrap .section-instructions-content {
  position: absolute;
  top: 0;
  padding: 30px;
}
#about .section-instructions-item-image {
  height: 90px;
  width: 100px;
  background: url('../img/ebf15b36.instructions.svg') 0 0% no-repeat;
  margin: 0 auto 15px;
}
#about .section-instructions-item-image.search {
  background-position: 66.66% 0;
}
#about .section-instructions-item-image.pickr {
  background-position: 99.99% 0;
}
#about .section-instructions-item-image.eatf {
  background-position: 33.33% 0;
}
@media (min-width: 768px) {
  #about .special-instructions-wrap .skew-left {
    transform: skewY(-5deg);
  }
  #about .special-instructions-wrap .skew-right {
    transform: skewY(5deg);
  }
  #about .nopadding-left {
    padding-left: 0;
    margin-left: 0;
  }
  #about .nopadding-right {
    padding-right: 0;
    margin-right: 0;
  }
  #about .special-instructions-wrap .section-instructions-content {
    padding: 45px;
  }
  #about .section-instructions-item {
    height: 400px;
  }
}
#suggested {
  margin: 50px 0;
}
#suggested .section-testimonials-item-thumb {
  -webkit-box-shadow: 0 2px 0 0 rgba(50, 50, 50, 0.35);
  -moz-box-shadow: 0 2px 0 0 rgba(50, 50, 50, 0.35);
  box-shadow: 0 2px 0 0 rgba(50, 50, 50, 0.35);
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  height: 0;
  background-image: url(../img/973a8add.faces.jpg);
  background-size: 200%;
  margin-right: -15px;
  border-radius: 50%;
}
#suggested .section-testimonials-item:nth-child(1) .section-testimonials-item-thumb {
  background-position: 0 0;
}
#suggested .section-testimonials-item:nth-child(2) .section-testimonials-item-thumb {
  background-position: 100% 0;
}
#suggested .section-testimonials-item:nth-child(3) .section-testimonials-item-thumb {
  background-position: 0 100%;
}
#suggested .section-testimonials-item:last-child .section-testimonials-item-thumb {
  background-position: 100% 100%;
}
#press {
  margin: 80px 0 50px;
}
#press .social-buttons i {
  border-radius: 2px;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 5px;
}
#press .social-buttons i.fa-facebook {
  background: #3b5998;
}
#press .social-buttons i.fa-twitter {
  background: #4099ff;
}
#press .social-buttons i.fa-instagram {
  background: #007bb6;
}
#press .social-buttons i.fa-google-plus {
  background: #d34836;
}
#press .social-buttons i.fa-youtube-play {
  background: #e52d27;
}
#press h3 {
  margin-bottom: 15px;
}
#press .footer-social {
  text-align: center;
}
footer {
  margin: 50px 0 0;
  background: #b82309;
  padding: 50px 0 0;
  color: white;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
footer a {
  color: #f6a71c;
}
footer a:hover {
  color: #f77963;
}
footer .rights {
  margin-top: 50px;
  text-align: center;
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
}
footer h4 {
  margin-bottom: 20px;
}
footer .footerbox {
  margin-bottom: 50px;
}
#autocomplete-append {
  position: absolute;
  text-align: left;
  font-size: 17px;
  z-index: 999999;
  color: #e82c0c;
}
#autocomplete-append ul.ui-autocomplete {
  padding: 0;
}
#autocomplete-append li.ui-menu-item {
  background-color: white;
  list-style-type: none;
  padding: 10px 0px 10px 20px;
  border: 1px solid grey;
}
#autocomplete-append li.ui-menu-item.ui-state-focus {
  background-color: #e82c0c;
  color: white;
}
