body {
  width: 100%;
  height: 100%;
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
  margin: 0 0 25px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    line-height: 1.6;
  }
}
a {
  color: #e82c0c;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #871a07;
}
.light {
  font-weight: 400;
}
.navbar-toggle {
  padding: 4px 6px;
  color: #e82c0c;
  border-color: #e82c0c;
}
.navbar-toggle:focus,
.navbar-toggle:active {
  outline: none;
}
.navbar-custom {
  margin-bottom: 0;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
  border-bottom: 1px solid #e82c0c;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:hover {
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: #fef6f5;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    background: rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom a {
    color: white;
  }
  .navbar-custom a:hover {
    color: #f77963;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: white;
    border-bottom: 1px solid #e82c0c;
  }
  .navbar-custom.top-nav-collapse a {
    color: #e82c0c;
  }
  .navbar-custom.top-nav-collapse a:hover {
    color: #871a07;
  }
}
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: black no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .brand-heading {
  font-size: 40px;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}
@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
  }
}
@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0 {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.content-section {
  padding-top: 100px;
}
.download-section {
  width: 100%;
  padding: 50px 0;
  color: white;
  background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#map {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}
@media (min-width: 767px) {
  .download-section {
    padding: 100px 0;
  }
  #map {
    height: 400px;
    margin-top: 250px;
  }
}
ul.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}
footer {
  padding: 50px 0;
}
footer p {
  margin: 0;
}
body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}
.search .options {
  margin-bottom: 0;
}
.search .options .btn-home {
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 0;
}
.search .options .btn-home.active {
  color: #fff;
  background-color: #e82c0c;
}
.search .options .btn-home.notActive {
  background-color: #fff;
  opacity: 0.7;
}
.search .options .btn-home.notActive:hover {
  color: #871a07;
}
.nopadding-left {
  padding-left: 0 !important;
  margin-left: 0 !important;
}
.nopadding-right {
  padding-right: 0 !important;
  margin-right: 0 !important;
}
.section-instructions-item {
  height: 300px;
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
}
.special-instructions-wrap .skew-left {
  background: #e82c0c;
}
.special-instructions-wrap .skew-right {
  background: #b82309;
}
.special-instructions-wrap .section-instructions-content {
  position: absolute;
  top: 0;
}
#about {
  background-color: #f6644b;
  color: white;
}
