@import "variables.less";
@import "mixins.less";

body {
    width: 100%;
    height: 100%;
    font-family: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
}

p {
    margin: 0 0 25px;
    line-height: 1.5;
    @media(min-width:768px) {
        margin: 0 0 35px;
        line-height: 1.6;
    }
}

.error {
    color: #a94442;
}

a {
    color: @orange;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover,
    &:focus {
        text-decoration: none;
        color: darken(@orange, 20%);
    }

    &.logo {
        font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 100;
        letter-spacing: -4px;
        font-size: 30px;
        i {
            font-style: normal;
            &.blue {
                color:@blue;
            }
            &.orange {
                color:@orange;
            }
            &.yellow {
                color:@yellow;
            }
            &.green {
                color:@green;
            }
            &.domain {
                font-size: 15px;
                letter-spacing: 1px;
            }
        }
        &:hover {
            i {
                &.blue {
                    color: darken(@blue, 10%);
                }
                &.orange {
                    color: darken(@orange, 10%);
                }
                &.yellow {
                    color: darken(@yellow, 10%);
                }
                &.green {
                    color: darken(@green, 10%);
                }
            }
        }
    }
}

.light {
    font-weight: 400;
}

.text-bold, .text-bold>* {
    font-weight: 700;
}

.nopadding-left {
   padding-left: 0;
   margin-left: 0;
}
.nopadding-right {
   padding-right: 0;
   margin-right: 0;
}

.nopadding {
   padding-left: 0;
   margin-left: 0;
   padding-right: 0;
   margin-right: 0;
}

.noradius-left {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.noradius-right {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.noradius {
    border-radius: 0px;
}

.fullwidth {
    width:100%;
}

.navbar-toggle {
    padding: 4px 6px;
    color: @orange;
    border-color: @orange;
    &:focus,
    &:active {
        outline: none;
    }
}

.navbar-custom {
    margin-bottom: 0;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: white;
    border-bottom: 1px solid @orange;
    .nav {
        li {
            a {
                &:focus,
                &:hover {
                    background-color: transparent;
                }            
            }
            &.active {
                outline: none;
                a {
                    background-color: lighten(@orange, 50%);
                }
            }
            select {
                color: @orange;
            }
        }
    }
    @media(min-width:768px) {
        .nav li select {
                margin: 8px;
                background-color: transparent;
                border: 0;
            }
    }
    &.full-top-trans {
        @media(min-width:768px) {
            padding: 20px 0;
            border-bottom: none;
            background: rgba(0,0,0,.2);
            letter-spacing: 1px;
            -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
            -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
            transition: background .5s ease-in-out,padding .5s ease-in-out;
            a {
                color: white;
                &:hover {
                    color: lighten(@orange, 20%);
                }
            }
            .nav li select {
                color: lighten(@orange, 20%);
                option {
                    color: lighten(@orange, 20%);
                }
            }
            &.top-nav-collapse {
                padding: 0;
            }
            &.top-nav-collapse, &.top-nav-no-collapsed {
                background: white;
                border-bottom: 1px solid @orange;
                a {
                    color: @orange;
                    &:hover {
                        color: darken(@orange, 20%);
                    }
                }
                .nav li select {
                    color: @orange;
                    border: inherit;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    option {
                        color: @orange;
                    }
                }
            }

        }
    }
}

.continue-btn {
    color:white;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-left:20px;
    padding-right:20px;
    letter-spacing: 1px;
    border: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/@blue+0,07871a+80,0ce82c+100 */
    background: @blue; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBjZTgyYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iIzA3ODcxYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwY2U4MmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  @blue 0%, darken(@blue, 20%) 80%, @blue 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@blue), color-stop(80%,darken(@blue, 20%)), color-stop(100%,@blue)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  @blue 0%,darken(@blue, 20%) 80%,@blue 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  @blue 0%,darken(@blue, 20%) 80%,@blue 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  @blue 0%,darken(@blue, 20%) 80%,@blue 100%); /* IE10+ */
    background: linear-gradient(to bottom,  @blue 0%,darken(@blue, 20%) 80%,@blue 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@blue', endColorstr='@blue',GradientType=0 ); /* IE6-8 */
    &:active:focus,
    &:focus,
    &:active {
        color: white;
        background: darken(@blue, 20%);
    }
    &:hover {
        color: white;
    }
}

.free-btn {
    color:white;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-left:20px;
    padding-right:20px;
    letter-spacing: 1px;
    border: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/@green+0,07871a+80,0ce82c+100 */
    background: @green; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBjZTgyYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iIzA3ODcxYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwY2U4MmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  @green 0%, darken(@green, 20%) 80%, @green 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@green), color-stop(80%,darken(@green, 20%)), color-stop(100%,@green)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  @green 0%,darken(@green, 20%) 80%,@green 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  @green 0%,darken(@green, 20%) 80%,@green 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  @green 0%,darken(@green, 20%) 80%,@green 100%); /* IE10+ */
    background: linear-gradient(to bottom,  @green 0%,darken(@green, 20%) 80%,@green 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@green', endColorstr='@green',GradientType=0 ); /* IE6-8 */
    &:active:focus,
    &:focus,
    &:active {
        color: white;
        background: darken(@green, 20%);
    }
    &:hover {
        color: white;
    }
}

.search-btn button, .action-btn {
    color:white;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-left:20px;
    padding-right:20px;
    letter-spacing: 1px;
    border: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/@orange+0,871a07+75,e82c0c+100 */
    background: @orange; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4MmMwYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzg3MWEwNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlODJjMGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  @orange 0%, darken(@orange, 20%) 75%, @orange 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@orange), color-stop(75%,darken(@orange, 20%)), color-stop(100%,@orange)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  @orange 0%,darken(@orange, 20%) 75%,@orange 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  @orange 0%,darken(@orange, 20%) 75%,@orange 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  @orange 0%,darken(@orange, 20%) 75%,@orange 100%); /* IE10+ */
    background: linear-gradient(to bottom,  @orange 0%,darken(@orange, 20%) 75%,@orange 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@orange', endColorstr='@orange',GradientType=0 ); /* IE6-8 */
    &:active:focus,
    &:focus,
    &:active {
        color: white;
        background: darken(@orange, 20%);
    }
    &:hover {
        color: white;
    }
}

.ui-autocomplete-loading {
    background: white url("../img/ajax-loader.gif") 98% center no-repeat;
}

header.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    h1, h4 {
        color: white;
    }
    &.restaurants {
        h1, h4 {
            margin-bottom: 15px;
        }
    }
    background: black no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        .brand-heading {
            font-size: 40px;
        }
        .intro-text {
            font-size: 18px;
        }
    }
    @media(min-width:768px) {
        &.home {
            height: 100%;
        }
        &.restaurants {
            height: 80%;
        }
        padding: 0;
        h1 {
            margin-top: -10%
        }
        .intro-body {
            .brand-heading {
                font-size: 100px;
            }
            .intro-text {
                font-size: 26px;
            }
        }
    }
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 50px;
}


@media(min-width:767px) {
    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

ul.banner-social-buttons {
    margin-top: 0;
    @media(max-width:1199px) {
        margin-top: 15px;
    }
    @media(max-width:767px) {
        li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

#mobile {
    padding: 50px 0 0;
    text-align: center;
    background-color: @yellow;
    transform: skewY(2deg);
    &.restaurant {
        transform: skewY(-2deg);
    }
    p {
        margin: 0;
    }
    h3 {
        margin: 10px 0;
    }
    .mobile-buttons .mobile-button.mobile-button-appstore {
        background-image: url(../img/appstore.png);
    }
    .mobile-buttons .mobile-button {
        display: inline-block;
        width: 132px;
        height: 44px;
        background: 0 0 no-repeat;
    }
    .mobile-buttons .mobile-button.mobile-button-googleplay {
        background-image: url(../img/googleplay.png);
        width: 137px;
    }
    .mobile-buttons {
        margin-top: 20px;
    }
    img.footer-mobile-image {
        width: 100%;
    }
}

body {
    webkit-tap-highlight-color: fade(white, 20%);
}

.search {
    .options {
        margin-bottom: 0;
        select {
            border-radius: 0;
        }
        .service .btn-home {
            border-radius: 0;
            border: 0;
        }
    }
}

form .service {
    width: 100%;
    .btn-home {
        overflow: hidden;
        margin-bottom: 15px;
        background-color: #fff;
        opacity: 0.5;
        width: 50%;
        border: 1px solid #333;
        color: @orange;
        font-weight: 700;
        &:hover {
            color: darken(@orange, 20%);
        }
        &.active{
            color: #fff;
            background-color: @orange;
            opacity: 1;
            &:hover {
                color: white;
            }
        }
        &.full-width {
            width: 100%;
        }
        &.day {
            width: 14%;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

// homepage offers / cuisine
#offers {
    a.cuisine {
        display: block;
        position: relative;
        margin-bottom: 30px;
        span {
            box-shadow: 0 3px 0 0 rgba(50,50,50,.35);
            position: absolute;
            bottom: -20px;
            left: -55px;
            z-index: 2;
            text-align: center;
            min-width: 110px;
            height: 40px;
            display: inline-block;
            background: #fff;
            line-height: 40px;
            text-transform: uppercase;
            margin-left: 50%;
        }
        img {
            width: 100%;
        }
    }
    .btn-homedark {
        margin: 20px 0 45px;
    }
}

.btn-homedark {
    color: #fff;
    background-color: @orange;
    &:focus,
    &:active,
    &:hover {
        color: #fff;
        background-color: darken(@orange, 20%);
    }
}


// how it works
#about {
    background-color: lighten(@orange, 15%);
    color: white;
    padding-bottom: 50px;

    h3 {
        margin-bottom: 50px;
    }
    .section-instructions-item {
        height: 280px;
        margin-bottom: 0;
        padding-bottom: 0;
        position: relative;
    }

    .special-instructions-wrap .skew-left {
        background: @orange;
    }

    .special-instructions-wrap .skew-right {
        background: darken(@orange, 10%);
    }

    .special-instructions-wrap .section-instructions-content {
        position: absolute;
        top: 0;
        padding: 30px;
    }

    .section-instructions-item-image {
        height: 90px;
        width: 100px;
        background: url('../img/ebf15b36.instructions.svg') 0 0/400% no-repeat;
        margin: 0 auto 15px;
        &.search {
            background-position: 66.66% 0;
        }
        &.pickr {
            background-position: 99.99% 0;
        }
        &.eatf {
            background-position: 33.33% 0;
        }
    }

    @media(min-width:768px) {
        .special-instructions-wrap .skew-left {
            transform: skewY(-5deg);
        }
        .special-instructions-wrap .skew-right {
            transform: skewY(5deg);
        }
        &.restaurant {
           .special-instructions-wrap .skew-left {
            transform: skewY(5deg);
            }
            .special-instructions-wrap .skew-right {
                transform: skewY(-5deg);
            } 
        }
        .nopadding-left {
           padding-left: 0;
           margin-left: 0;
        }
        .nopadding-right {
           padding-right: 0;
           margin-right: 0;
        }
        .special-instructions-wrap .section-instructions-content {
            padding: 45px;
        }
        .section-instructions-item {
            height: 410px;
        }
    }
}

#suggested {
    margin: 50px 0;
    .section-testimonials-item-thumb {
        -webkit-box-shadow: 0 2px 0 0 rgba(50,50,50,.35);
        -moz-box-shadow: 0 2px 0 0 rgba(50,50,50,.35);
        box-shadow: 0 2px 0 0 rgba(50,50,50,.35);
        width: 100%;
        padding-bottom: 100%;
        overflow: hidden;
        height: 0;
        background-image: url(../img/973a8add.faces.jpg);
        background-size: 200%;
        margin-right: -15px;
        border-radius: 50%;
    }

    .section-testimonials-item:nth-child(1) .section-testimonials-item-thumb {
        background-position: 0 0;
    }
    .section-testimonials-item:nth-child(2) .section-testimonials-item-thumb {
        background-position: 100% 0;
    }
    .section-testimonials-item:nth-child(3) .section-testimonials-item-thumb {
        background-position: 0 100%;
    }
    .section-testimonials-item:last-child .section-testimonials-item-thumb {
        background-position: 100% 100%;
    }
}

#press {
    margin: 50px 0 50px;
    .social-buttons i {
        border-radius: 2px;
        width: 38px;
        height: 38px;
        text-align: center;
        line-height: 40px;
        font-size: 16px;
        color: #fff;
        margin-bottom: 5px;
    }
    .social-buttons i.fa-facebook {
        background: #3b5998;
    }
    .social-buttons i.fa-twitter {
        background: #4099ff;
    }
    .social-buttons i.fa-instagram {
        background: #007bb6;
    }
    .social-buttons i.fa-google-plus {
        background: #d34836;
    }
    .social-buttons i.fa-youtube-play {
        background: #e52d27;
    }
    h3 {
        margin-bottom: 15px;
    }
    .footer-social {
        text-align: center;
    }
}

footer {
    margin: 50px 0 0;
    background: darken(@orange, 10%);
    padding: 50px 0 0;
    color: white;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    a {
        color: @yellow;
        &:hover {
            color: lighten(@orange, 20%);
        }
    }
    .rights {
        margin-top: 50px;
        text-align: center;
        font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: italic;
    }
    h4 {
        margin-bottom: 20px;
    }
    .footerbox {
        margin-bottom: 50px;
    }

}

#autocomplete-append {
    position: absolute;
    text-align: left;
    font-size: 17px;
    z-index: 999999;
    color: @orange;
    ul.ui-autocomplete {
        padding: 0;

    }
    li.ui-menu-item {
        background-color: white;
        list-style-type: none;
        padding: 10px 0px 10px 20px;
        border: 1px solid grey;
        &.ui-state-focus {
            background-color: darken(@yellow, 10%);
            color: white;
        }
    }

}

#signup .modal-footer, #signin .modal-footer {
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#whatdo {
    margin-bottom: 70px;
    h4 {
        margin-bottom: 15px;
    }
    .points {
        margin: 35px 0;
    }
    span.main-icon {
        background: url(../img/whatdo.png) no-repeat;
        width: 60px;
        height: 40px;
        display: inline-block;
        &.icon-about-users {
            background-position: 0px 0px;
        }
        &.icon-hand-shake {
            background-position: -63px 0px;
        }
        &.icon-megaphone {
            background-position: -123px 0px;
        }
        &.icon-free-tag {
            background-position: 0px -41px;
        }
        &.icon-computer-mobile {
            background-position: -63px -41px;
        }
        &.icon-graph {
            background-position: -123px -41px;
        }
    }
    .website-mockup {
        background-image: url(/img/7d2dbf5c.mockup-website.png);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 400px;
    }
}

#pricing {
    text-align: center;
    h1 span {
        font-size: 15px;
    }
    padding: 50px 0 0;
    .panel {
        margin-bottom: 40px;
    }
    .panel-heading {
        font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
        h3 {
            margin-top: 35px;
        }
    }
    .panel-professional {
        border: 1px solid darken(@green, 20%);
        .panel-heading {
            background-color: darken(@green, 20%);
            color: white;
        }
    }
    .panel-enterprise {
        border: 1px solid #333;
        .panel-heading {
            background-color: #333;
            color:white;
        }
    }
}

body.restaurants.signup, body.restaurants.order-info {
    background-color: @yellowbak;

    header .row {
        margin: 70px 0 0;
        background-color: #fff;
    }

    header h4 {
        padding: 50px 0 0;
    }

    button.final {
        margin: 25px 0 50px;
        width: 33%;
    }
}
